<div *ngIf="path === 'add-role'" class="container">
         <div class="row">
            <div class="col mb-2">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.username" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <label for="password" class="form-label">Role:</label>
              <div class="input-group input-group-sm">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="user.groupName">
                    <option selected value="">Select one role</option>
                    <option value="CEO">CEO</option>
                    <option value="ItSupport">It support</option>
                    <option value="Managers">Managers</option>
                    <option value="Finance">Finance</option>
                    <option value="Employees">Employees</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-grid">
              <button type="button" (click)="addRole()" class="btn btn-sm btn-primary" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Add role
              </button>
            </div>
          </div>
</div>  


<div *ngIf="path === 'remove-role'" class="container">
    <div class="row">
       <div class="col mb-2">
         <label for="email" class="form-label">Email:</label>
         <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.username" class="form-control form-control-sm">
       </div>
     </div>
     <div class="row">
       <div class="col mb-2">
         <label for="password" class="form-label">Role:</label>
         <div class="input-group input-group-sm">
           <select class="form-select" aria-label="Default select example" [(ngModel)]="user.groupName">
               <option selected value="">Select one role</option>
               <option value="CEO">CEO</option>
               <option value="ItSupport">It support</option>
               <option value="Managers">Managers</option>
               <option value="Finance">Finance</option>
               <option value="Employees">Employees</option>
             </select>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col d-grid">
         <button type="button" (click)="removeRole()" class="btn btn-sm btn-primary" [disabled]="loading">
           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
           Remove role
         </button>
       </div>
     </div>
</div> 